
/* aninmation */
  .hidden {
    animation: shake 0.5s ease-in-out 1;
}

@keyframes shake {
    0% { transform: translate(10px, 0); }
    25% { transform: translate(0px, -10px); }
    50% { transform: translate(20px, 10px); }
    75% { transform: translate(10px, -10px); }
    100% { transform: translate(-10px, 0); }
}

/* media query */
@media only screen and (max-width: 768px) {
    
    #card {
        width: 90% !important;
    }
    .footer{
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }
    .footer > div {
        width: 50% !important;
    }
}
@media only screen and (max-width: 448px) {
    .container{
        width: 100% !important;
        padding: 0 !important;
       
    }
    #card {
        width: 80% !important;
    }
    .footer{
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }
    .footer > div {
        width: 50% !important;
    }
}

/* layer blur */
#blurLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 999; 
    display: none;
}
/* loader */
#loader {
    position: fixed;
   top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 9999;
}

#loader i {
    font-size: 50px;
    color: #2d2d2d;
}


